.container {
    box-sizing: border-box;
    display: block;
    padding: 30px;
    width: 100%;
    height: 100vh;
}

.slider {
    height: 100%;
    max-height: 50vh;
    margin: 0 auto;
    width: 70%;
    max-width: 540px;
	position: relative;
	text-align: right;
	line-height: 100vh;
}

.slider-item {	
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    line-height: 1.5;
    position: fixed;
	top: 0;
	visibility: hidden;
    background-color: bisque;
}

.slider-item img{
    height: 50vh;
}

.slider-bullet:checked + .slider-item {
	visibility: visible;
}

.slider[data-transition="fade"] .slider-item {
	visibility: visible;
	opacity: 0;
	transition: 1s ease-out opacity;
}

.slider[data-transition="fade"] .slider-bullet:checked + .slider-item {
	opacity: 1;
}

.slider-bullet {
	font-size: .75em;
	width: 1em;
	height: 1em;
	display: inline-block;
	position: relative;
	z-index: 99;
	-webkit-appearance: none;
	appearance: none;
	background: #ccc;
	border-radius: 1em;
	transition: .3s ease-out background,
				.3s ease-out transform;
}

.slider-bullet:checked {
	background: #999;
	outline: none;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}